/* Eléments principaux de la page */
body
{
	font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
	color:black;
	font-size:0.8em;
	max-width:800px;
	margin:0 auto;
	padding-left:5px;
	padding-right:5px;
	

}

header
{
	padding-top:5px;
	background-color:white;
	padding-bottom:10px;
	display:flex;
	flex-direction: row;

}

#logo
{
	height:80px;
	width:80px;
	background: url('../images/photo.jpeg') no-repeat;
	background-size: contain;
	display:flex;
	align-self:flex-start;
}


nav
{
	padding-right:5px;

	display:flex;
	align-self:flex-end;
	margin-left:auto;
}

nav ul
{
	list-style-type:none;
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;

}

nav ul li
{
	margin-right: 15px;

}

nav a
{
	font-size:1.3em;
	color:black;
	padding-bottom:3px;
	text-decoration: none;
}


nav a:hover
{
    color: grey;
    border-bottom: 3px solid LightBlue;
}

section
{
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
}

article
{
	padding-left: :5px;
	padding-right: 5px;
	
	display:flex;
	flex-direction:column;

}

aside
{
	padding-left:5px;
	display:flex;
	flex-direction: column;
}

aside ul
{
	list-style-type:none;
	padding-left:0px;
}

aside ul li
{
	list-style-type:none;
	

}

#banniere
{
	text-align:center;

}

h1
{
	font-size:1.3em;
	margin-bottom:5px;

	margin-top:10px;
}


h2
{
	font-size:1em;
	text-decoration: underline;
}

h3
{
	font-size:1em;
}

.experience, .formation, .competence
{
	margin-top:10px;
	border-top: 1px solid;

}




@media screen and (max-width: 480px) {
	body
	{
		font-size:0.6em;

	}
	nav a {
		font-size: 1em;
	}


}